.background-header{

  background-color: #00a884;
  width:210vh;
  height: 20vh;
}

.background-body{
  width: 210vh;
  height: 80vh;
  background-color: #d2d5d5 ;
}

.center-container{
  position:fixed;
  background-color: white;
  border-radius: 25px;
  width: 80%;
  height: 90%;
  margin: auto;
  top: 0%;
  right: 0px;
  left: 0px;
  bottom: 0%;
}

app-sidebar{
  flex-basis: 30%;
  display: block;
}
